/*
Aufgabe: Abschlussaufgabe
Name: Lorena Eberhart
Matrikel: 256328
Datum: 13.10.17
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.

*/

canvas {
	
	width: 100%;
	height: auto;
}

#Columbia {
	position: absolute;
	top: 40vw;
	left: 5vw;
	width: 23%;
	height: 17vw;
	float: left;
}

#CostaRica {
	position: absolute;
	top: 86.9vw;
	left: 5vw;
	width: 23%;
	height: 17vw;
	float: left;
}

#Gambia {
	position: absolute;
	top: 86.9vw;
	left: 70.2vw;
	width: 23%;
	height: 17vw;
	float: left;
}

#Japan {
	position: absolute;
	top: 40vw;
	left: 70.2vw;
	width: 23%;
	height: 17vw;
	float: left;
}

#Germany {
	position: absolute;
	top: 63vw;
	left: 38.1vw;
	width: 23%;
	height: 17vw;
	float: left;
}


/*-----------------Tablet Portarit-------------*/
@media screen and (min-width:35.625em) {
	

			
	#Japan {
			top: 13.5vw;
			left: 71.2vw;
			width: 24%;
			height: 18vw;
			}	
	#Germany {
			top: 38vw;
			left: 37.7vw;
			width: 24%;
			height: 18vw;
	}	
	
	#Columbia {
			top: 13.5vw;
			left: 4vw;
			width: 24%;
			height: 18vw;
	}	
	
	#CostaRica {
			top: 62.8vw;
			left: 4vw;
			width: 24%;
			height: 18vw;
	}	
	
	#Gambia {
			top: 62.8vw;
			left: 71.2vw;
			width: 24%;
			height: 18vw;
	}	
			
}




/*----------------Tablet-----------------*/
@media screen and (min-width:48em) {
	

			
	#Japan {
			top: 11vw;
			left: 71.55vw;
			width: 24%;
			height: 18vw;
			}	
	#Germany {
			top: 35.6vw;
			left: 37.7vw;
			width: 24%;
			height: 18vw;
	}	
	
	#Columbia {
			top: 11vw;
			left: 3.9vw;
			width: 24%;
			height: 18vw;
	}	
	
	#CostaRica {
			top: 60.2vw;
			left: 3.9vw;
			width: 24%;
			height: 18vw;
	}	
	
	#Gambia {
			top: 60.2vw;
			left: 71.55vw;
			width: 24%;
			height: 18vw;
	}	
			
}




/*----------------Desktop-----------------*/
@media screen and (min-width:64em) {
	
	canvas {
			width: 60%;
			}
			
	#Japan {
			top: 7.5vw;
			left: 43.2vw;
			width: 14.5%;
			height: 10.9vw;
			}	
	#Germany {
			top: 22.2vw;
			left: 22.8vw;
			width: 14.5%;
			height: 10.9vw;
	}	
	
	#Columbia {
			top: 7.5vw;
			left: 2.4vw;
			width: 14.5%;
			height: 10.9vw;
	}	
	
	#CostaRica {
			top: 37vw;
			left: 2.4vw;
			width: 14.5%;
			height: 10.9vw;
	}	
	
	#Gambia {
			top: 37vw;
			left: 43.2vw;
			width: 14.5%;
			height: 10.9vw;
	}	
			
}